@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');

body {
    font-family: 'Cabin';
    background-color: #76ABAE;
}

#tentacles {
    width: 50px;
}

.header {
    display: flex;
    background-color:black;
    color: white;
    padding: 1%;
    align-items: center;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
}

.stats-container {
    display: flex;
    align-items: center;
    cursor:pointer;

}
.stats-container:hover{
    box-shadow: 0 0 30px lightblue ;
}


.stats-card {
    background-color: #EEEEEE;
    border-radius: 7px;
    padding: 1%;
    margin: 1%;
    width: 100%;
    text-align: center;
    border: 5px solid black;
}

#num-contributions, #total-raised, #num-games {
    font-size: 50px;
}

#games-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.game-img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px #FFFFFF;
}

.game-card {
    background-color: #EEEEEE;
    padding: 1%;
    margin: 1%;
    width: 300px;
    text-align: center;
    border-radius: 7px;
}

.game-card:hover {
    cursor: pointer;
    box-shadow: 0 0 30px lightblue;
}

#button-container {
    text-align: center;
}

button {
    font-family: 'Cabin';
    border: none;
    padding: 1%;
    margin: 1%;
    border-radius: 7px;
    width :130px;
    font-size: 1rem;
    text-align: center;
    font-weight: 700;
    font-size: 1.3rem;
    background-color: black;
    color: white;
}
button:hover{
    box-shadow:0 0 30px white;   
    
}
.search-bar{
    margin-left: auto;
    border-radius: 10px;
    width: 400px;
    height: 30px;
    font-size: 1.5rem;
    margin-right: 50px;
   
}

.suggestions-container {
    width: 400px;
    max-height: 300px;
    overflow-y: auto;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    color: black;
    border-top: none;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    margin-top: 40px;
}

.suggestion {
    padding: 10px;
    cursor: pointer;
    color: balck;
}

.suggestion:hover {
    background-color: #f0f0f0;
}
.holder{
    display: flex;
    margin-left: auto;
}
.games{
    margin-left: 100px;
}
#navigate{
    color: white;   
    text-decoration:none;
}
#description-container p{
    text-align: center;
    font-weight :600;
    font-size: 1.5rem;
}

h2{
    text-align: center;
    font-size: 3rem;
}